<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>Home</title>
</head>
<body>
<h1>This is home page</h1>
<form th:action="@{/logout}" method="post">
    <input type="submit" class="btn btn-primary" value="Logout"/>
    <div th:each="page : ${pages}">
        <p th:text="${page}"></p>
    </div>
</form>
<h1>Page name</h1>
<form th:action="'/2/login page changed'" method="post">
    <div class="mb-3">
        <label class="form-label">Текст сторінки</label>
        <input type="text" class="form-control" name="newPageElementText">
    </div>
    <button type="submit" class="btn btn-primary">Підтвердити</button>
</form>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>
</html>